@font-face {
  font-family: 'Libre Baskerville';
  src: url("../assets/Libre_Baskerville/LibreBaskerville-Regular.ttf") format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}

a:visited,
a:hover,
a:focus,
a:active {
  color: black;
  text-decoration: none;
}