.team {
  margin-top: 20px;
  text-align: center;
  font-family: "Libre Baskerville";

  h1 {
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid gold;
    font-size: 36px;
    font-family: "Libre Baskerville";
  }
}

.about-team {
  p {
    width: 800px;
    font-size: 20px;
    margin: auto;
    padding: 30px;
  }
}

.team-images {
  img {
    width: 800px;
    padding: 20px;
  }
}

@media (max-width: 1199px) and (min-width: 1025px) {
  .about-team {
    p {
      width: 80%;
    }
  }

  .team-images {
    img {
      width: 100%;
      padding: 0;
    }
  }

  .team {
    h1 {
      font-size: 32px;
    }
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .about-team {
    p {
      width: 80%;
      font-size: 18px;
    }
  }

  .team-images {
    img {
      width: 100%;
      padding: 0;
    }
  }

  .binjovic-logo {
    width: 130px;
  }

  .team {
    h1 {
      font-size: 28px;
    }
  }
}

@media (max-width: 768px) {
  .about-team {
    p {
      width: 80%;
      font-size: 14px;
    }
  }

  .binjovic-logo {
    width: 90px;
  }

  .team-images {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      padding: 0;
    }
  }

  .team {
    h1 {
      font-size: 24px;
    }
  }
}
