.upload-photo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
  
    select {
      width: 106%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      background-color: #fff;
      cursor: pointer;
      appearance: none; // Uklanja standardni stil za select
  
      &::-ms-expand {
        display: none; // Uklanja default arrow ikonu u Internet Explorer-u
      }
    }
  
    p {
      margin: 10px 0;
      color: #333;
    }
  }
  
  .upload-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    padding: 8px 8px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #4CAF50;
    }
  
    .upload-icon {
      margin-right: 10px;
      font-size: 24px;
      color: #666;
    }
  
    .upload-label {
      font-size: 16px;
      color: #666;
      margin-right: 10px;
    }
  
    label {
      cursor: pointer;
      color: white;
      border-radius: 5px;
      font-size: 18px;
  
      &:hover {
        background-color: transparent;
      }
    }
  }
  
  .upload-file {
    display: none;
  }
  
  .admin-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: green;
    }
  
    &:focus {
      outline: none;
    }
  }
  
  .upload-photo-form option {
    padding: 10px;
  }
  