.quantity-input {
    font-size: 1em;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 80%;
    max-width: 150px;
    margin-bottom: 10px;
    background-color: transparent; 
    color: #333; 
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .quantity-input::placeholder {
    color: #9b9b9b;
    text-align: center; 
  }
  
  .quantity-input:focus {
    outline: none;
    border-color: gold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  