.logo-logout{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-logout button{
    font-size: 1.1em;
    background: transparent;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 50px auto 20px;
    text-align: center;
    cursor: pointer;
    font-family: "Libre Baskerville";
    transition: 0.5s;
    border: 2px solid #333;
    border-radius: 10px;
}
.logo-logout button:hover{
    transform: scale(1.1);
}

.order-info-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

.product-info {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.product-info div {
    margin-bottom: 5px;
}
.order-btn {
    font-size: 1em;
    background-color: silver; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for a nice button size */
    margin: 5px; /* Small margin around the buttons */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.order-btn:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

