.reservations {
    text-align: center;
}

.reservations h1 {
    font-size: 2.5rem;
    margin-bottom: 20px; 
}

.reservation-info, .additional-info {
    margin-bottom: 30px; 
}

.additional-info {
    padding: 20px; 
    border-radius: 10px; 
}

.additional-info h2 {
    font-size: 2rem; 
    margin-bottom: 10px; 
}

.additional-info p {
    line-height: 1.6; 
}
.phone-number {
    font-size: 2.4em; 
    font-weight: 700; 
    color: #333; 
    margin-top: 5px; 
    padding: 10px; 
    border: 2px solid #333; 
    border-radius: 5px;
    display: inline-block; 
    transition: all 0.3s ease; 
}

.phone-number:hover {
    background-color: #333;
    color: #fff; 
    cursor: pointer; 
}

.service-paragraph {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5; 
}

.service-paragraph span {
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    display: inline-block;
}

.service-paragraph span:hover {
    color: goldenrod;
    transition: 0.3s;
    
}