.header {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  transition: background-color 0.7s ease, color 0.7s ease;
  background-color: transparent;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}


.nav-bar.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.nav:hover {
  background-color: rgba(136, 136, 136, 0.8);
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar ul li {
  padding: 25px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-bar ul li:hover {
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  transition: 0.3s ease;
}

.gallery {
  font-size: 36px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.gallery:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: black;
  opacity: 0.6;
  font-family: Lucida Handwriting;
}
a{
  text-decoration: none;
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../public/salon7.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .video-container {
    display: none;
  }

  .nav {
    background-color: rgba(136, 136, 136, 0.8);
  }

  .menu-toggle {
    display: flex;
  }

  .nav-bar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(136, 136, 136, 0.8);
    z-index: 1000;
    overflow-y: auto;
    transition: top 0.9s ease;
  }

  .nav-bar.open {
    top: 0;
  }

  .nav-bar.open {
    display: block;
    margin-top: 153px;
    background-color: rgba(136, 136, 136, 0.8);
    transition: 0.9s ease;
  }

  .heading h1 {
    margin-top: 500px;
    font-size: 20px;
  }

  .nav-bar ul {
    flex-direction: column;
    text-align: right;
    width: 90%;
  }

  .nav-bar ul li {
    padding: 5px 20px;
    font-size: 24px;
  }

  .logo img {
    width: 150px;
  }

  .heading {
    font-size: 22px;
    text-align: center;
  }

  .close-icon {
    color: white;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../public/salon7.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .video-container {
    display: none;
  }

  .nav {
    background-color: rgba(136, 136, 136, 0.8);
  }

  .menu-toggle {
    display: flex;
  }

  .nav-bar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(136, 136, 136, 0.8);
    z-index: 1000;
    overflow-y: auto;
    transition: top 0.9s ease;
  }

  .nav-bar.open {
    top: 0;
  }

  .nav-bar.open {
    display: block;
    margin-top: 153px;
    background-color: rgba(136, 136, 136, 0.8);
    transition: 0.9s ease;
  }


  .heading h1 {
    margin-top: 500px;
    font-size: 20px;
  }

  .nav-bar ul {
    flex-direction: column;
    text-align: right;
    width: 90%;
  }

  .nav-bar ul li {
    padding: 5px 20px;
    font-size: 24px;
  }

  .logo img {
    width: 150px;
  }

  .heading h1 {
    font-size: 18px;
    text-align: center;
  }

  .close-icon {
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .header {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../public/salon8.jpeg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .video-container {
    display: none;
  }

  .nav {
    background-color: rgba(136, 136, 136, 0.8);
    justify-content: space-around;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-bar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(136, 136, 136, 0.8);
    z-index: 1000;
    overflow-y: auto;
    transition: top 0.9s ease;
  }

  .nav-bar.open {
    top: 0;
  }

  .nav-bar.open {
    display: block;
    margin-top: 103px;
    background-color: rgba(136, 136, 136, 0.8);
    transition: 0.9s ease;
  }

  .heading h1 {
    font-size: 14px;
    margin-top: 450px;
  }

  .nav-bar ul {
    flex-direction: column;
    text-align: right;
    width: 90%;
  }

  .nav-bar ul li {
    padding: 5px 20px;
    font-size: 24px;
  }

  .nav-bar ul li:hover {
    transform: scale(1);
    color: white;
  }

  .logo img {
    width: 100px;
  }

  .heading {
    font-size: 18px;
    text-align: center;
  }

  .close-icon {
    color: white;
  }
}