.products-page {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  padding: 20px;
}
.logo-and-cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.products-page h1 {
  font-size: 2.8em;
  margin-bottom: 20px;
  color: #333;
}
.categories select {
  font-size: 1.2em;
  padding: 10px 15px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
}

.categories select:hover {
  background-color: #f0f0f0;
}

.categories select:focus {
  outline: none;
  border-color: gold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.categories select option {
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
}

/* Stilizacija opcija na hover */
.categories select option:hover {
  background-color: #f0f0f0;
}

/* Stilizacija selektovane opcije */
.categories select option:checked {
  background-color: gold;
  color: white;
}

.products {
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-bottom: 100px;
}
.products h1 {
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid gold;
  font-size: 36px;
  margin: 0;
  padding-top: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-section {
  margin-bottom: 40px;
}

.category-section h2 {
  padding: 20px;
  font-size: 2.3em;
  color: black;
}

.product-item {
  position: relative;
  background: none;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: white;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-family: "Libre Baskerville", serif;
  z-index: 1;
  width: 250px;
}

.product-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/kerastase2.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

.product-item p {
  margin: 5px 0;
  font-size: 1em;
  color: black;
  font-weight: 500;
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
  padding: 2px;
}

.product-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.buy-btn {
  font-size: 1.5em;
  background: transparent;
  width: 70%;
  max-width: 600px;
  padding: 10px;
  margin: 20px auto 10px;
  text-align: center;
  cursor: pointer;
  font-family: "Libre Baskerville";
  transition: 0.5s;
  border: 2px solid #333;
  border-radius: 10px;
}

.buy-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 1199px) and (min-width: 1025px) {
  .category-products {
    gap: 15px;
  }

  .products h1 {
    font-size: 32px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .category-products {
    gap: 10px;
  }

  .products h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .category-btn{
    width: 90%;
    font-size: 1.2em;
  }
  .product-img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .products::before {
    background-image: none; /* Uklanjanje pozadinske slike za manje ekrane */
    background-color: azure; /* Promena boje pozadine za manje ekrane */
  }

  .product-img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
